<a href="https://colab.research.google.com/github/schandar/IO-Tables/blob/master/IO_Tables.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Input-Output Analysis

In [0]:
import pandas as pd
import numpy as np
import csv

In [3]:
z = pd.read_csv("/content/Z_matrix.csv", header=[0,1], index_col=[0,1])
x = pd.read_csv("/content/X_vector.csv", header = None, index_col = [0, 1])
y = pd.read_csv("/content/Y_vector.csv", header=[0], index_col=[0,1])

FileNotFoundError: ignored

In [0]:
z.head()

                AUS                                   ... ROW
                A01  A02  A03      B C10-C12 C13-C15  ... O84 P85   Q R_S  T  U
AUS A01      12,924  112  228    539  25,139     737  ...   2  13  13   6  0  0
    A02          83  201    0     17       3       0  ...   0   0   0   0  0  0
    A03          19    0   19      4     316      23  ...   0   0   0   0  0  0
    B           116    1    6  4,492     332       6  ...  23  28  54  18  0  0
    C10-C12   1,591    1   43    203  10,852     262  ...  17  30  24  30  0  0

[5 rows x 2464 columns]

In [0]:
x.head()

                   2
0   1
AUS A01       70,292
    A02        2,585
    A03        3,175
    B        171,985
    C10-C12   83,504

In [0]:
x[2]

0    1
AUS  A01         70,292
     A02          2,585
     A03          3,175
     B          171,985
     C10-C12     83,504
                 ...
ROW  P85        625,260
     Q          511,800
     R_S        457,353
     T           19,919
     U               32
Name: 2, Length: 2464, dtype: object

In [0]:
y.head()

                      AUS       AUT  ...          USA          ROW
AUS A01      13021.267270  0.576625  ...    57.633086   757.877499
    A02        257.476610  0.001655  ...    15.306080     0.424362
    A03       1442.014903  0.001036  ...     0.325774   404.404713
    B        10339.178940  0.141408  ...    12.963735    34.917758
    C10-C12  30139.503480  3.317939  ...  2199.364452  4858.626245

[5 rows x 44 columns]

Generate A matrix, aij = zij/xj. Aij = amount of inputs required from industry i to industry j, in order to produce one unit of output from industry j.

In [0]:
x_list = x[2].tolist() # Make a list of X vector values

In [0]:
z_list = z.columns # Make a list of Z matrix columns
z_list[0:3]

MultiIndex([('AUS', 'A01'),
            ('AUS', 'A02'),
            ('AUS', 'A03')],
           )

In [0]:
z[z_list[1]]

AUS  A01        112
     A02        201
     A03          0
     B            1
     C10-C12      1
               ...
ROW  P85          0
     Q            0
     R_S          0
     T            0
     U            0
Name: (AUS, A02), Length: 2464, dtype: int64

In [0]:
x_list = [float(j.replace(',','')) for j in x_list]

In [0]:
i = 0
for j in x_list:
  z[z_list[i]] = z[z_list[i]].replace({',': ''}, regex=True)
  z[z_list[i]] = z[z_list[i]].apply(pd.to_numeric)
  z[z_list[i]] = z[z_list[i]]/float(j)
  i += 1

TypeError: ignored

In [0]:
type(z[z_list[0]].replace({',': ''}, regex=True))

TypeError: ignored

In [0]:
z[z_list[0]] = z[z_list[0]].replace({',': ''}, regex=True)

TypeError: ignored

In [0]:
z[z_list[0]]

AUS  A01        0.183862
     A02        0.001181
     A03        0.000270
     B          0.001650
     C10-C12    0.022634
                  ...
ROW  P85        0.000014
     Q          0.000014
     R_S        0.000028
     T          0.000000
     U          0.000000
Name: (AUS, A01), Length: 2464, dtype: float64